<!DOCTYPE html>
<html>    
    <head>
        <meta charset="utf-8">
        <title>PAGE DE SOUSCRIPTION</title>
        <link href="C:\Users\Formation\Desktop\INTERCONTRAT\PROJET 1\bootstrap\css\bootstrap.css"  rel="stylesheet">
        <link href="C:\Users\Formation\Desktop\INTERCONTRAT\PROJET 1\css\main.css"  rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <header id="entete" class="page-header"/>             
            </header> 

            <nav id="menus" class="navbar-default">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </nav>
            <section>
                <div id="souscription">
                        <p class="colorLabel">Votre email</p>
                        <input placeholder="Tapez votre email"></input>
                        <p class="colorLabel">Mot de passe</p>
                        <input placeholder="Tapez votre mot de passe"></input>
                        <button type="submit">CREER</button>
                </div>
            </section>
        </div>
        <script src="C:\Users\Formation\Desktop\INTERCONTRAT\PROJET 1\bootstrap\js\bootstrap.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>  
        <script>
            
        </script>
    </body>
</html>